body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

h1 {
    color: #343a40;
    text-align: center;
    margin-top: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* .start-button {
    padding: 15px 30px;
    font-size: 18px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.start-button:hover {
    background-color: #0056b3;
} */